* {
   padding: 0px;
   margin: 0px;
}

body {
   background-color: #181818;
}

.cabecalho {
   background-color: #262626;
   color: #FF8601;
   display: flex;
   align-items: center;
   padding: 20px;
}

.navegadorBotoes {
   display: inline-block;
   margin: 0 150px;
   font-size: 20px;
   font-weight: lighter;
   font-family: fantasy;
}

.anel {
   width: 6%;
   position: absolute;
   right: 15px;
}

.sabo {
   width: 6%;
   position: relative;
   left: -1px;
}

.textosomos {
   text-align: center;
   padding: 20px;
   margin: 80px;
   color: #FF8601
}

.alunolunatico {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   text-align: center;
   margin: 10px;
   color: #FF8601;
}

.quemsomosimagem {
   width: 170px;
}

.todososalunos {
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   align-items: center;
   justify-content: center;
}

.textorodape{
   
   text-align: center;
}

.rodape {
   background-color: #262626;
   color: #FF8601;
   display: inline;
   text-align: center;
   padding: 20px;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
}
