:root {
    --cor-de-fundo: #181818;
    --cor-cabecalho: #262626;
    --cor-texto: #FF8601;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    display: flex;
    justify-content: center;
    background-color: var(--cor-cabecalho);
    font-family: 'Karma';
}

.home {
    font-size: 100%;
    padding: 2% 10%;
    color: var(--cor-texto);
}

.projetos {
    font-size: 100%;    
    padding: 2% 10%;
    color: var(--cor-texto);
}

.fundadores {
    font-size: 100%;  
    padding: 2% 10%;
    color: var(--cor-texto);
}
