/* styles.css */

header {
  background: #262626;
  width: 1920px;
  height: 120px;
  display: flex;
}

body {
  background: #181818;
  display: flex;
  height: 200vh;
  overflow-y: auto;
}

a.h1 { /* "Projetos" */
  position: absolute;
  left: 835px;
  top: 30px;
  color: #FF7F00;
  font-size: 40px;
  font-family: fantasy;
}

a.h2 { /* "Sobre Nós" */
  position: relative;
  left: 1535px;
  top: 35px;
  color: #FF7F00;
  font-size: 30px;
  font-family: fantasy;
  font-weight: lighter;
}

a.h3 { /* "Home" */
  position: relative;
  left: 55px;
  top: 35px;
  color: #FF7F00;
  font-size: 30px;
  font-family: fantasy;
  font-weight: lighter;
}

.leftCornerIcon {
  position: absolute;
  left: 28px;
  top: 17.5px;
  width: 100px;
  height: 100px;
}

.rightCornerIcon {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  right: 30px;
  top: 17.5px;
  width: 100px;
  height: 100px;
}
